section.about
	.container-s
		h1.title.title--small Арт-фестиваль Николин День
		.about-content
			p Фестиваль, целью которого является привлечение людей к празднованию дня памяти святого Николая Чудотворца. Помимо насыщенной культурной программы, будут представлены православные приходы, фермерские и монастырские хозяйства, книжные издательства. Посетителям предложат приобрести тематическую сувенирную продукцию, всевозможную атрибутику с ликом Святого, а также продукцию ремесленного творчества.

			p Народное гуляние дополнят ароматные и вкусные чаи, выпечка, блюда, приготовленные по традиционным рецептам: русским и не только.

			img(src="./images/about-img.jpg", alt="about")
