section.about
	.container-s
		h1.title.title--small Краснознаменная дивизия 
			p имени моей бабушки
		.about-header
			.about-header__date 22 мая
			.about-header__time 19:00 – 23:00
			a.about-header__link(href="/") Какая-то сцена

		.about-content
			p Московская группа, исполняющая экспериментальный рок с элементами барокко-попа, пост-панка, академического минимализма, шугейза и афро-попа. Осенью 2020 г. группа выступила в программе «Вечерний Ургант».
			p 
				a(href="/") Instagram 
			img(src="./images/about-music.jpg", alt="group")
			iframe(src="https://www.youtube.com/embed/FGTqvhLmQYU" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen)