section.food 
	.container
		h1.title.title--big.food__title Фудкорт
		.info.food__info
			.row.info__row.food__row
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')
				+infoItem('49 Shades of shawarma', 'Шаурма с креветками, лососем или запеченными овощами', 'Краткое описание.', 'red')