header.header
	.header-mobile
		.container.header-mobile__container
			a(href="/").header-mobile__logo
				img(src="./images/nicola-logo-red.svg", alt="logo")
			.sh-burger
				span
	.header-top
		.container.header-top__container
			a(href="/").header-top__logo
				img(src="./images/nicola-logo.svg", alt="logo")
			.header-top__title 21-23 мая 2021
				img(src="./images/arrow.svg")
				span Парк Коломенское
	.header-bottom
		.header-bottom__container 
			nav.header-nav 
				ul.header-nav__list
					li.header-nav__item 
						a(href="/") О фестивале
					li.header-nav__item.header-nav__item--red.active
						a(href="/") расписание
					li.header-nav__item.header-nav__item--red
						a(href="/") карта
					li.header-nav__item
						a(href="/") Цирк/кино/спорт
					li.header-nav__item 
						a(href="/") музыка
					li.header-nav__item 
						a(href="/") театр
					li.header-nav__item 
						a(href="/") мастер-классы/лекции
					li.header-nav__item 
						a(href="/") фудкорт
					li.header-nav__item 
						a(href="/") пресс-центр
					li.header-nav__item 
						a(href="/") контакты
