section.map
	.map-wrapper
		.map-container#map
		img.map__logo(src="./images/nicola-logo.svg", alt="Николин день")
	.map-sidebar
		ul
			li 
				button Нижняя сцена
			li 
				button Театральная площадка
			li 
				button Верхняя сцена
			li 
				button Арт-объект «Пастбище»
			li 
				button Арт-объект «Рогатище»
			li 
				button Арт-объект «Скакалище»
			li 	
				button Шатер детских театров / гексошатер
			li 	
				button Николин шатер
			li 	
				button Зоны фудкортов
			li 	
				button Стекольная мастерская
			li 	
				button Арт-объект «Кораблетечение»
			li 	
				button WC туалеты
			li 	
				button Точка выдачи шапок-корабликов
			li 	
				button Маркет
			li 	
				button Пункт скорой помощи
			li 	
				button Арт-объект «Полный улет»
			li 	
				button Тик-ток контейнер
			li 	
				button «Белое шоу»
			li 	
				button Арт-объект «Бумеранг»
			li 	
				button Арт-объект «Морские контейнеры»
			li 	
				button Зона запуска корабликов
			li 	
				button Столы с крышей
			li 	
				button Николины столы
			li 	
				button Зона пикника
			li 	
				button Площадка уличных игр
			li 	
				button Цирковая площадь
			li 	
				button Зона запуска воздушных змеев
