section.map
	.map-wrapper
		.map-container#map
		img.map__logo(src="./images/nicola-logo.svg", alt="Николин день")
	.map-sidebar 
		a.map-sidebar__link(href="/") Нижняя сцена
		a.map-sidebar__link(href="/") Театральная площадка 
		a.map-sidebar__link(href="/") Верхняя сцена
		a.map-sidebar__link(href="/") Арт-объект «Пастбище»
		a.map-sidebar__link(href="/") Арт-объект «Рогатище»
		a.map-sidebar__link(href="/") Арт-объект «Скакалище»
		a.map-sidebar__link(href="/") Шатер детских театров / гексошатер
		a.map-sidebar__link.active(href="/") Николин шатер
		a.map-sidebar__link(href="/") Зоны фудкортов
		a.map-sidebar__link(href="/") Стекольная мастерская
		a.map-sidebar__link(href="/") Арт-объект «Кораблетечение»
		a.map-sidebar__link(href="/") WC туалеты
		a.map-sidebar__link(href="/") Точка выдачи шапок-корабликов
		a.map-sidebar__link(href="/") Маркет
		a.map-sidebar__link(href="/")  Пункт скорой помощи
		a.map-sidebar__link(href="/")  Арт-объект «Николин день»
		a.map-sidebar__link(href="/")  Арт-объект «Полный улет»
		a.map-sidebar__link(href="/")  Тик-ток контейнер
		a.map-sidebar__link(href="/")  «Белое шоу»
		a.map-sidebar__link(href="/")  Арт-объект «Бумеранг»
		a.map-sidebar__link(href="/")  Арт-объект «Морские контейнеры»
		a.map-sidebar__link(href="/")  30. Зона запуска корабликов
		a.map-sidebar__link(href="/") Столы с крышей
		a.map-sidebar__link(href="/") Николины столы
		a.map-sidebar__link(href="/") Зона пикника
		a.map-sidebar__link(href="/") Площадка уличных игр
		a.map-sidebar__link(href="/") Цирковая площадь
		a.map-sidebar__link(href="/") Зона запуска воздушных змеев
