section.map
	.map-wrapper
		.map-container#map
		.map-logo
			img.map-logo__img(src="./images/nicola-logo.svg", alt="Николин день")
			img.map-logo__arrow(src="./images/arrow.svg", alt="-->")
			span.map-logo__text парк коломенское
	.map-sidebar
		button.map-sidebar__button#mapBtn Список площадок
