section.about
	.container-s
		h1.title.title--small Творческий киновечер
			p Показ фильмов ACTION!
		
		.about-header
			h2.about-header__date 21 мая
			.about-header__time 19:00 – 23:00
			a.about-header__link(href="") Шатер детских театров

		.about-content
			p В рамках «Николиного дня» на главной сцене пройдет вручение наград за лучшие творческие проявления в благотворительном проекте ACTION!. Откроет вечер выступление Российского государственного симфонического оркестра кинематографии. На сцене также выступят: Константин Хабенский, Александр Петров, Евгений Миронов, Надежда Михалкова и многие другие.

			p Завершит вечер показ 5-7 фильмов ACTION! - подборка лучших фильмов, снятых для Ежегодного благотворительного вечера ACTION! за 10 лет его существования.

			p.strong Ежегодный благотворительный вечер «ACTION!» - проект <span>Светланы Бондарчук</span> и <span>Евгении Поповой</span>.

			p Культовые российские режиссеры специально для благотворительного вечера, за счет собственных средств и ресурсов, снимают короткометражные фильмы на свободную тему. Собранные средства за фильмы переводятся на благотворительные нужды.

