section.music
	.container
		h1.title.title--big.music__title Музыка
		.info.music__info
			h2.subtitle.subtitle--big.music__subtitle 22 мая
			.row.info__row.music__row
				+infoItem('Сергей Старостин', 'Советский и российский этнограф, певец, автор песен, музыкальный продюсер и телеведущий.')
				+infoItem('Ива Нова', 'Российская женская этно-экстрим группа.')
				+infoItem('KIMBATA', 'Группа играет музыку африканских мегаполисов 60х-70х годов, придуманную в Москве двадцать первого века.')
				+infoItem('Краснознаменная дивизия имени моей бабушки', 'Московская группа, исполняющая экспериментальный рок с элементами барокко-попа, пост-панка, академического минимализма, шугейза и афро-попа.')
				+infoItem('Линда', 'Популярность настигла певицу еще в 2000-х, но и сейчас её песни остаются актуальными.')
				+infoItem('Zventa Sventana', 'Проект Тины Кузнецовой и Юрия Усачева (экс «Гости из будущего»)')
				+infoItem('LEDENEV', 'Молодой музыкальный продюсер, композитор, активно набирающий популярность как автор-исполнитель.')
				+infoItem('Найк Борзов', 'Один из самых ярких и необычных артистов на современной независимой сцене, автор известных во все времена хитов «Три слова» и «Лошадка».')
				+infoItem('Моя Мишель', 'Танцевальный поп, модный и смелый с магнетическим голосом Тани Ткачук и душещипательными текстами.')
				+infoItem('Антоха МС', 'Российский хип-хоп исполнитель, автор и композитор.')
				+infoItem('25/17', 'Стиль группы - альтернативная инструментальная музыку и рэп исполнение.')
				+infoItem('Гарик Сукачев', 'Легенда российской рок музыки, которую нам посчастливилось узнать.')
		.info.music__info
			h2.subtitle.subtitle--big.music__subtitle 23 мая
			.row.info__row.music__row
				+infoItem('Ваня Дмитриенко', 'Один из самых молодых и ярких артистов в шоу бизнесе.')
				+infoItem('RASA', 'Российский музыкальный дуэт, состоящий из супругов Виктора Поплеева и Дарьи Шейко, основанный в ноябре 2017 года.')
				+infoItem('Хабиб Шарипов', 'Исполнитель композиций известных певцов и автор собственных песен.')
				+infoItem('Slava Marlow', 'Продюсер, битмейкер, видеоблогер, так же известен как сольный исполнитель.')
				+infoItem('Тимур Родригез', 'Российский шоумен, певец, теле- и радиоведущий, актёр. Участник телепроектов КВН, «Comedy Club».')
				+infoItem('Клава Кока', 'Российская поп-певица и видеоблоггер, автор собственных песен.')
				+infoItem('Niletto', 'Молодой харизматичный и несомненно талантливый артист.')