section.press
	.container
		h1.title.title--big.press__title Пресс-центр
		.press__block
			.press-sizer
			+pressItem("press-item", "20 мая 2021", "Экскурсии по москве", "Бесплатные экскурсий пройдут в Москве в рамках фестиваля «Николин день». На прогулках мы узнаем, почему жители Кадашевской слободы не отдавали своих дочерей замуж за пределы слободы, узнаем, какие известные Николаи оставили след в жизни города с XVIII по XIX век и как купеческое сословие повлияло на развитие Замоскворечья.")
			+pressItem("press-item", "18 мая 2021", "", "Любителей активного отдыха на площадках фестиваля ждет множество развлечений: гребной тренажер, петанк, памп-трек, скейт-парк, сапсерфинг и настольный футбол, а также показательные выступления профессиональных спортсменов!", "./images/press/press1.jpg", "photo")
			+pressItem("press-item", "18 мая 2021", "Памп-трек и скейт-парк на переходе от Манежной площади к площади Революции", "Для любителей спортивных развлечений на переходе от Манежной площади к Площади Революции будут работать памп-трек и скейт-парк. Здесь пройдут показательные выступления профессиональных спортсменов на трюковых велосипедах и самокатах.", "./images/press/press2.jpg", "photo")
			+pressItem("press-item", "16 мая 2021", "Спорт", "Любителей активного отдыха на площадках фестиваля ждет множество развлечений: гребной тренажер, петанк, памп-трек, скейт-парк, сапсерфинг и настольный футбол, а также показательные выступления профессиональных спортсменов!")
			+pressItem("press-item", "10 мая 2021", "Заголовок", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur sequi minima deserunt odit exercitationem veritatis inventore. Quod, autem aspernatur.", "./images/press/press3.jpg", "photo")
			+pressItem("press-item", "11 мая 2021", "Благотворительность на фестивале. Инклюзивный театр", "Инклюзивный театр — благотворительный и социальныий театр для людей с ограниченными возможностями здоровья, где задействованы игровые практики и пластические тренинги.")
			+pressItem("press-item", "11 мая 2021", "Заголовок", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim recusandae rerum illum hic ullam deserunt id consectetur? Eligendi maxime repellendus doloremque iure iusto.", "./images/press/press4.jpg", "photo")
			
