section.schedule
	.container.schedule__container
		h1.title.title--big.schedule__title Расписание
		h2.subtitle.subtitle--big.schedule__subtitle 21 мая
		.schedule__block 
			.row.schedule__row.schedule__row--small
				.column.schedule__column
					+scheduleItem("19:00 – 23:00", "Творческий киновечер и показ лучших фильмов Ежегодного благотворительного вечера ACTION!")
					+scheduleItem("19:00 – 23:00", "Благотворительный вечер ACTION! Показ лучших фильмов", "Главная сцена")
		h2.subtitle.subtitle--big.schedule__subtitle.schedule__subtitle--second 22 мая
		.schedule__scroll-block#scrollBlock
			.schedule__block#scheduleHeader
				.schedule__header
					.schedule__column
						h3 ЦИРК /КИНО /СПОРТ
					.schedule__column 
						h3 МУЗЫКА
					.schedule__column
						h3 ТЕАТР
					.schedule__column 
						h3 МАСТЕР-КЛАССЫ /ЛЕКЦИИ
			.schedule__block.schedule__block-mt
				h4.schedule__row-title мероприятия на весь день
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("11:00 – 20:00", "Спортивные игры на поляне", "Площадка уличных игр")
						+scheduleItem("12:00 – 20:00", "Большой арт-объект, который гости фестиваля создают все вместе в течение двух дней фестиваля")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 20:00", "Выступления артистов по всей территории фестиваля")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию сувениров с символикой фестиваля в технике фьюзинг", "Стекольная мастерская")
						+scheduleItem("12:00 - 20:00", "Мастер-класс по созданию корабликов добра")
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Мастерская по созданию костюма")
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию музыкальных инструментов и других предметов из картона. Интерактивные представления", "Мастерская «Картония»")
			.schedule__block 
				h4.schedule__row-title 11:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("11:00 – 12:00", "Сказочное шоу от команды Вячеслава Полунина", "Площадка уличных игр")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
			.schedule__block 
				h4.schedule__row-title 12:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – ??:00", "Шоу воздушных змеев", "Место уточняются")
						+scheduleItem("12:00 – 20:00", "Интерактивный перфоманс: создание арт-объекта вместе с художниками и гостями фестиваля", "Арт-объект 'Плетенка'")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("12:00 – ?? :00", "Танцевальные флешмобы", "Главная сцена")
						+scheduleItem("12:00 – ?? :00", "Спектакли ведущих театров России", "Место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("12:00 – 20:00", "Интерактивные музыкальные выступления и перфомансы", "Вся территория фестиваля")
						+scheduleItem("12:00 – ??:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("12:00 – 15:30", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("12:00 – 13:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Сувениры в технике фьюзинг"', "Стекольная мастерская")
						+scheduleItem("12:00 – 20:00", 'Мастер-класс "Кораблики добра"', "Зона запуска корабликов")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Карнавальная мастерская")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Музыкальные инструменты из картона"','Мастерская "Картонии"')
						+scheduleItem("12:00 – 13:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"','Николин шатер')
			.schedule__block 
				h4.schedule__row-title 13:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("13:00 – 14:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – ??:00", "Концертная программа", "Главная сцена")
						+scheduleItem("13:00 – 14:00", "Спектакли ведущих театров России", "место уточняется")
						+scheduleItem("13:00 – 14:00", 'Интерактивное шествие "Николин карнавал"', "место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("13:00 – 14:00", "Карнавальное шествие «Николин карнавал»")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("13:00 – 14:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
						+scheduleItem("13:00 – ??:00", 'Кулинарные мастер-классы', "Место уточняются")
			.schedule__block 
				h4.schedule__row-title 14:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("14:00 – 15:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("14:00 – 15:00", "Спектакли ведущих театров России", "Место уточняются")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("14:00 – 15:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 15:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("15:00 – 16:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Спектакли ведущих театров России", "Место уточняются")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("15:30 – 18:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("15:00 – 16:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 16:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Сказочное шоу от команды Вячеслава Полунина", "Белое шоу")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("16:00 – 17:00", 'Интерактивное шествие "Николин карнавал"', "Место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("16:00 – 17:00", "Карнавальное шествие «Николин карнавал»")
						+scheduleItem("16:00 – 17:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("16:00 – 17:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 17:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("17:00 – 18:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("17:00 – 18:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 18:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("18:00 – 19:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("18:00 – 19:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("18:00 – 19:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("18:00 – 19:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 19:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("19:00 – 20:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("19:00 – 20:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 20:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("20:00 – 21:00", 'Концертная программа', "Главная сцена")
					.column.schedule__column.schedule__column--line
			.schedule__block 
				h4.schedule__row-title 21:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("21:00 – 22:30", 'Концертная программа', "Главная сцена")
					.column.schedule__column.schedule__column--line
			.schedule__block.schedule__block--last
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("22:00 – 22:10", "", "Фейерверк")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("22:00 – 22:10", "", "Фейерверк")
		h2.subtitle.subtitle--big.schedule__subtitle.schedule__subtitle--second 23 мая
		.schedule__scroll-block
			.schedule__block.schedule__block-mt
				h4.schedule__row-title мероприятия на весь день
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("11:00 – 20:00", "Спортивные игры на поляне", "Площадка уличных игр")
						+scheduleItem("12:00 – 20:00", "Большой арт-объект, который гости фестиваля создают все вместе в течение двух дней фестиваля")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 20:00", "Выступления артистов по всей территории фестиваля")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию сувениров с символикой фестиваля в технике фьюзинг", "Стекольная мастерская")
						+scheduleItem("12:00 - 20:00", "Мастер-класс по созданию корабликов добра")
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Мастерская по созданию костюма")
						+scheduleItem("12:00 - 20:00", "Мастер-классы по созданию музыкальных инструментов и других предметов из картона. Интерактивные представления", "Мастерская «Картония»")
			.schedule__block 
				h4.schedule__row-title 11:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("11:00 – 12:00", "Сказочное шоу от команды Вячеслава Полунина", "Площадка уличных игр")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
			.schedule__block 
				h4.schedule__row-title 12:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – ??:00", "Шоу воздушных змеев", "Место уточняются")
						+scheduleItem("12:00 – 20:00", "Интерактивный перфоманс: создание арт-объекта вместе с художниками и гостями фестиваля", "Арт-объект 'Плетенка'")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("12:00 – ?? :00", "Танцевальные флешмобы", "Главная сцена")
						+scheduleItem("12:00 – ?? :00", "Спектакли ведущих театров России", "Место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("12:00 – 20:00", "Интерактивные музыкальные выступления и перфомансы", "Вся территория фестиваля")
						+scheduleItem("12:00 – ??:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("12:00 – 15:30", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("12:00 – 13:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("12:00 – 13:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Сувениры в технике фьюзинг"', "Стекольная мастерская")
						+scheduleItem("12:00 – 20:00", 'Мастер-класс "Кораблики добра"', "Зона запуска корабликов")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Карнавальная мастерская")
						+scheduleItem("12:00 – 20:00", 'Мастер-классы "Музыкальные инструменты из картона"','Мастерская "Картонии"')
						+scheduleItem("12:00 – 13:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"','Николин шатер')
			.schedule__block 
				h4.schedule__row-title 13:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("13:00 – 14:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – ??:00", "Концертная программа", "Главная сцена")
						+scheduleItem("13:00 – 14:00", "Спектакли ведущих театров России", "место уточняется")
						+scheduleItem("13:00 – 14:00", 'Интерактивное шествие "Николин карнавал"', "место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("13:00 – 14:00", "Карнавальное шествие «Николин карнавал»")
					.column.schedule__column.schedule__column--line
						+scheduleItem("13:00 – 14:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("13:00 – 14:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
						+scheduleItem("13:00 – ??:00", 'Кулинарные мастер-классы', "Место уточняются")
			.schedule__block 
				h4.schedule__row-title 14:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("14:00 – 15:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("14:00 – 15:00", "Спектакли ведущих театров России", "Место уточняются")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("14:00 – 15:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("14:00 – 15:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 15:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("15:00 – 16:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Спектакли ведущих театров России", "Место уточняются")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("15:30 – 18:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("15:00 – 16:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("15:00 – 16:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 16:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Сказочное шоу от команды Вячеслава Полунина", "Белое шоу")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("16:00 – 17:00", 'Интерактивное шествие "Николин карнавал"', "Место уточняется")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("16:00 – 17:00", "Карнавальное шествие «Николин карнавал»")
						+scheduleItem("16:00 – 17:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("16:00 – 17:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("16:00 – 17:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 17:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("17:00 – 18:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("17:00 – 18:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 18:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("18:00 – 19:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Выступление духовых оркестров", "Малая сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Спектакли ведущих театров России", "Место уточняются")
						+scheduleItem("18:00 – 19:00", "Выступление духовых оркестров", "Малая сцена")
						+scheduleItem("18:00 – 19:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("18:00 – 19:00", "Встреча с друзьями Николы", "Николин шатер")
						+scheduleItem("18:00 – 19:00", 'Мастер-классы "Карнавальные костюмы и аксессуары"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 19:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Выступления цирковых коллективов и мастер-классы по цирковому искусству", "Цирковая площадь")
						+scheduleItem("19:00 – 20:00", "Цирковые выступления и мастер-классы по цирковому искусству", "Цирковая площадь")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Концертная программа", "Главная сцена")
					.column.schedule__column.schedule__column--line
						+scheduleItem("19:00 – 20:00", "Мастер-классы по созданию шапок и масок для участия в карнавале", "Николин шатер")
						+scheduleItem("19:00 – 20:00", 'Встречи с "Друзьями Николы"', "Николин шатер")
			.schedule__block 
				h4.schedule__row-title 20:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("20:00 – 21:00", 'Концертная программа', "Главная сцена")
					.column.schedule__column.schedule__column--line
			.schedule__block 
				h4.schedule__row-title 21:00
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("21:00 – 22:30", 'Концертная программа', "Главная сцена")
					.column.schedule__column.schedule__column--line
			.schedule__block.schedule__block--last
				.row.schedule__row.schedule__row--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("22:00 – 22:10", "", "Фейерверк")
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
					.column.schedule__column.schedule__column--line
						+scheduleItem("22:00 – 22:10", "", "Фейерверк")