$mainFont: "Roboto-Regular", sans-serif;
$mainFontBold: "Roboto-Bold", sans-serif;
$secondaryFont: "PF-DinDisplayPro", sans-serif;
$textRed: #ff0023;
$textBlack: #000000;
$textOrange: #ff8a00;
$mainGradient: linear-gradient(90.26deg, #ff0023 0.91%, #f0c314 99.94%);
