.about {
	padding-bottom: 70px;

	&-header {
		padding-top: 26px;
		font-family: $mainFontBold;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		color: $textRed;

		&__link {
			font-family: $mainFont;
			text-transform: none;
		}
	}
	
	&-content {
		p {
			margin-top: 21px;
			font-size: 18px;
			line-height: 21px;

			&:first-child {
				margin-top: 38px;
			}
		}

		.strong {
			font-family: $mainFontBold;

			span {
				white-space: nowrap;
			}
		}

		img {
			margin-top: 43px;
		}
	}
}