.header {
  &-top {
    background: $mainGradient;
    padding: 13px 0 15px;

    @include mobile {
      padding: 68px 54px;
    }

    @include mobile-370 {
      padding: 25px 20px;
    }

    &__container {
      display: flex;
      align-items: flex-end;
    }

    &__logo {
      margin-right: 47px;

      @include tablet {
        display: none;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      font-family: $mainFontBold;
      color: #ffffff;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      text-transform: lowercase;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      img {
        width: 42px;
        height: 25px;
        margin-left: 23px;

        @include mobile {
          margin-left: 0;
          margin-top: 15px;
        }
      }

      span {
        margin-left: 23px;

        @include mobile {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

  &-bottom {
    padding: 18px 0 7px;
    border-bottom: 1px solid #c4c4c4;

    &__container {
      box-sizing: border-box;
      width: 1170px;
      max-width: 95%;
      max-width: calc(100% - 30px * 2);
      margin: 0 auto;

      @include tablet {
        width: 100%;
        margin: 0;
      }
    }

    @include tablet {
      position: fixed;
      right: -200vw;
      top: 95px;
      height: calc(100vh - 95px);
      width: 100%;
      max-width: 375px;
      padding: 39px 0;
      background: linear-gradient(165.26deg, #ff0023 0%, #f0c314 101.09%);
      border-bottom: none;
      transition: 0.3s;
      z-index: 9999;
    }

    &.active {
      @include tablet {
        right: 0;
      }
    }
  }

  &-nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1013px;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__item {
      font-family: $mainFont;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      white-space: nowrap;

      @include media-1200 {
        font-size: 14px;
      }

      @include tablet {
        width: 100%;
        font-family: $mainFontBold;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 39px;

        &:not(:first-child) {
          margin-top: 26px;
        }
      }

      @include mobile-370 {
        white-space: normal;
      }

      &--red {
        color: $textRed;

        @include tablet {
          color: #ffffff;
        }
      }

      &.active {
        font-family: $mainFontBold;

        @include tablet {
          background-image: url("./../../images/arrow.svg");
          background-repeat: no-repeat;
          background-position: -8px center;
        }
      }
    }
  }

  &-mobile {
    padding: 25px 0 23px;
    display: none;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include tablet {
      display: block;
    }

    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sh-burger {
  position: relative;
  display: none;
  width: 36px;
  height: 24px;
  cursor: pointer;
  transition-duration: 0.2s;

  @include tablet {
    display: block;
  }

  span,
  span::before,
  span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 4px;
    margin-top: -2px;
    margin-left: -18px;
    background: $textRed;
  }

  span::before,
  span::after {
    content: "";
    transition: 0.2s;
  }

  span::before {
    transform: translateY(-12px);
  }

  span::after {
    transform: translateY(12px);
  }

  &--active {
    span {
      height: 0;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
