.map {
	display: flex;

	&-wrapper {
		flex: 1 0 calc(100% - 300px);
		position: relative;
		background-color: #163c15;

	}

	&-container {
		width: 100%;
		height: calc(100vh - 120px);

		@include tablet {
			height: calc(100vh - 165px);
		}

		@include mobile {
			height: 100vh;
		}
	}

	&__logo {
		position: absolute;
		top: 50px;
		left: 50px;
	}

	&-sidebar {
		flex: 1 0 300px;
		display: flex;
		flex-direction: column;
		padding: 40px 20px 40px 60px;
		font-size: 16px;
		line-height: 19px;
		text-transform: capitalize;
		color: #000000;
		height: calc(100vh - 120px);
		background-color: #fff;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			overflow-y: scroll;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				-webkit-appearance: none;
				width: 0;
				height: 0;
			}
		}

		@include tablet {
			position: fixed;
			right: 0;
			top: 100vh;
			transition: 0.4s;
			height: calc(100vh - 225px);

			&.active {
				top: 155px;

				@include tablet {
					top: 142px;
					height: calc(100vh - 209px);
				}

				@include mobile {
					top: 0;
					height: calc(100% - 56px);
					padding-top: 15px;
				}
			}
		}

		

		&__button {
			font-family: $mainFontBold;
			display: none;
			position: relative;
			color: #fff;
			cursor: pointer;
			

			@include tablet {
				display: block;
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 24px 0;
				background: linear-gradient(90.26deg,#ff0023 .91%,#f0c314 99.94%);
				z-index: 99;
			}
		}

		ul {
			li {

				&:not(:first-child) {
					margin-top: 15px;
				}

				button {
					text-align: left;
					width: 100%;
					background: #fff;
					border: none;
					display: block;
					margin-bottom: 0;
					font-size: 16px;
					cursor: pointer;
					line-height: 22px;
					outline: none;
					text-decoration: none;
					color: #000;
					text-transform: capitalize;

					&:hover {
						font-family: $mainFontBold;
					}
				}
			}
		}
	}
}

.mapboxgl-map {
	z-index: 0;
}