.movies, .lections, .theater {
	padding-top: 65px;
	padding-bottom: 70px;

	&__title {
		line-height: 60px;

		@media (max-width: 628px) {
			max-width: 300px;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__subtitle {
		margin-top: 32px;

		@media (max-width: 628px) {
			max-width: 300px;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
		}
	}
}