.music {
	padding-top: 65px;
	padding-bottom: 70px;

	&__title {
		line-height: 60px;

		@media (max-width: 628px) {
			text-align: center;
		}
	}

	&__subtitle {
		margin-top: 32px;

		@media (max-width: 628px) {
			text-align: center;
		}
	}
}