.schedule {
	padding-top: 52px;

	&__container {
		overflow: hidden;
	}

	&__block {
		padding-top: 9px;

		&:last-child {
			.schedule-item {
				&-wrap {
					border-left: 6px solid $textRed;
				}

				&-link {
					font-family: $mainFontBold;
					text-transform: uppercase;
				}
			}
		}

		&-fixed {
			position: fixed;
			top: 131px;
			left: 0;
			right: 0;
			width: 1170px;
			max-width: 95%;
			max-width: calc(100% - 30px * 2);
			margin: 0 auto;
			background-color: #fff;
			z-index: 10;
			overflow: auto;
			scrollbar-width: none;

			@include tablet {
				top: 67px;
				width: auto;
				max-width: none;
				padding-left: 30px;
			}

			@media (max-width: 550px) {
				padding-left: 15px;
			}
			  
			  &::-webkit-scrollbar {
				-webkit-appearance: none;
				width: 0;
				height: 0;
			  }

			.schedule__header {
				padding-bottom: 13px;
			}
		}
	}

	&__subtitle {
		margin-top: 20px;
		position: absolute;
	}

	&-item {
		&-wrap {
			margin-top: 10px;
			max-width: 270px;
			border-left: 6px solid $textOrange;
			padding-left: 15px;

			&--red {
				margin-top: 5px;
				border-left: 6px solid $textRed;
				
				a {
					text-transform: uppercase;
				}

				p {
					text-transform: uppercase;
				}
			}
		}

		&-time {
			font-family: $mainFontBold;
			font-size: 14px;
			line-height: 18px;
		}

		&-text {
			font-size: 14px;
			line-height: 18px;
			color: #000000;

			&:visited {
				color: #000000;
			}
			@media (min-width: 1000px) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-link {
			font-size: 14px;
			line-height: 18px;
			font-family: $mainFontBold;
			color: $textOrange;
			display: block;

			&:visited {
				color: $textOrange;
			}

			@media (min-width: 1000px) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__row {

		&--line {
			margin-top: 38px;
			padding-bottom: 13px;
		}

		&--first {
			margin-top: 90px;
		}

		&--headless {
			margin-top: 68px;
		}

		&-title {
			margin-top: 18px;
			font-family: $mainFontBold;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: $textRed;
			position: absolute;

			&--first {
				margin-top: 68px;
			}

		}
	}

	&__header {
		display: flex;
		margin-top: 7px;

		.schedule__column {
			h3 {
				margin-top: 6px;

			}
		}
	}

	&__column {
		flex: 1 0 300px;

		&--line {
			border-top: 1px solid #c4c4c4;
		}

		&:last-child {

			@media (max-width: 1230px) {
				min-width: calc(100vw - 60px);
			}

			@media (max-width: 550px) {
				min-width: calc(100vw - 30px);
			}
			@media (max-width: 329px) {
				min-width: none;
				max-width: 290px;
			}



			h3 {
				@media (max-width: 1230px) {
					min-width: 100vw;
				}
				@media (max-width: 329px) {
					min-width: none;
					max-width: 290px;
				}
				
			}
		}

		h3 {
			font-family: $mainFontBold;
			font-size: 18px;
			line-height: 21px;
			margin-top: 14px;
		}

		.schedule-item-wrap {
			&:not(:first-child) {
				margin-top: 18px;
			}
		}
	}

	&__scroll {
		&-block {
			overflow: hidden;


			@media (max-width: 1230px) {
				overflow: auto;
			}
		}
	}
}
