.schedule {
	padding-top: 52px;

	&__container {
		overflow: hidden;
	}

	&__block {
		padding-top: 9px;

		&--last {
			padding-bottom: 21px;
			.schedule-item {
				&-wrap {
					border-left: 6px solid $textRed;
				}

				&-link {
					font-family: $mainFontBold;
					text-transform: uppercase;
				}
			}
		}
	}

	&__subtitle {
		margin-top: 22px;

		&--second {
			margin-top: 44px;
		}

	}

	&-item {
		&-wrap {
			margin-top: 10px;
			max-width: 270px;
			border-left: 6px solid $textOrange;
			padding-left: 15px;
		}

		&-time {
			font-family: $mainFontBold;
			font-size: 14px;
			line-height: 18px;
		}

		&-text {
			font-size: 14px;
			line-height: 18px;
		}

		&-link {
			font-size: 14px;
			line-height: 18px;
			color: $textRed;
		}
	}

	&__row {

		&--line {
			margin-top: 10px;
			padding-bottom: 29px;
		}

		&-title {
			margin-top: -12px;
			font-family: $mainFontBold;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: $textRed;
			position: absolute;

		}
	}

	&__header {
		display: flex;
		padding-bottom: 26px;

		.schedule__column {
			h3 {
				margin-top: 6px;

			}
		}
	}

	&__column {
		flex: 1 0 300px;

		&--line {
			border-top: 1px solid #c4c4c4;
		}

		h3 {
			font-family: $mainFontBold;
			font-size: 18px;
			line-height: 21px;
			margin-top: 14px;
		}

		.schedule-item-wrap {
			&:not(:first-child) {
				margin-top: 18px;
			}
		}
	}

	&__scroll {
		&-block {
			overflow: hidden;

			@media (max-width: 1230px) {
				overflow: auto;
			}
		}
	}
}
