mixin breadcrumbs(paddingLeft=false,item1="", item2="", item3="", item4="", item5="")
	nav.breadcrumbs-wrap
	ul(class="breadcrumbs" + (paddingLeft==true?"":" breadcrumbs--pl0"))
		if(item1=="")
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="") Раздел

			li.breadcrumbs-item Раздел
		else
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="")
					=item1
			if(item2!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item2
			if(item3!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item3
			if(item4!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item4
			if(item5!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item5

mixin scheduleItem($time="", $text="", $linkText="", $href="/")
	.schedule-item-wrap 
		.schedule-item-time
			=$time
		a.schedule-item-text(href=$href)
			=$text
		if($linkText!="")
			a.schedule-item-link(href=$href)
				=$linkText
mixin infoItem($title="", $text="", $span="", $border="", $href="/")
	if($border=="")
		a.info-item-wrap.info-item-wrap--gradient(href=$href)
			span.info-item-title
				=$title
			span.info-item-text
				=$text
			span.info-item-link
				img(src="images/arrow-red.svg", alt="-->")
	else
		a.info-item-wrap.info-item-wrap--red(href=$href)
			span.info-item-title.info-item-title--black
				=$title
			span.info-item-text
				=$span
				span
					=$text
			span.info-item-link
				img(src="images/arrow-red.svg", alt="-->")
mixin pressItem($class="", $date="", $title="", $text="", $img="", $alt="")
	if($img!="")
		div(class=$class)
			p.press-item__date
				=$date
			.press-item__content 
				img(src=$img, alt=$alt)
				h2.press-item__title 
					=$title
				p.press-item__text 
					=$text
				a.press-item__link(href="/") читать новость >
	else 
		if($title!="")
			div(class=$class)
				p.press-item__date
					=$date
				.press-item__content
					h2.press-item__title 
						=$title
					p.press-item__text 
						=$text
					a.press-item__link(href="/") читать новость >
		else
			div(class=$class)
				p.press-item__date
					=$date
				.press-item__content
					p.press-item__text 
						=$text
					a.press-item__link(href="/") читать новость >